.floated.right {
  float: right;
}

.ui.menu .header.item.ecell-header {
  font-family: 'Work Sans';
  font-weight: 400;

  color: #011627;
  background-color: rgba(255,255,255,0);

  -webkit-transition: all 0.5s ease;
  -moz-transition:    all 0.5s ease;
  -o-transition:      all 0.5s ease;
  transition:         all 0.5s ease;
}

.ui.menu .header.item.ecell-header:hover {  
  background-color: #011627;
  color: rgba(255,255,255,1);
}

.ui.menu .item.ecell-primary {
  border-radius: 100px;
  border-style: solid;
  border-width: 1px;

  font-family: 'Work Sans';

  border-color: #2EC4B6;
  border-style: solid;
  border-width: 1px;

  color: #2EC4B6;
  background-color: rgba(255,255,255,0);

  -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.05);
  -moz-box-shadow:    0px 0px 12px 0px rgba(0,0,0,0.05);
  box-shadow:         0px 0px 12px 0px rgba(0,0,0,0.05);

  -webkit-transition: all 0.5s ease;
  -moz-transition:    all 0.5s ease;
  -o-transition:      all 0.5s ease;
  transition:         all 0.5s ease;
}

.ui.menu .item.ecell-primary:hover{
  border-radius: 100px;
    
  border-color: #2EC4B6;
  border-style: solid;
  border-width: 1px;
  
  background-color: #2EC4B6;
  color: rgba(255,255,255,1);
  
  -webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.1);
  -moz-box-shadow:    0px 0px 16px 0px rgba(0,0,0,0.1);
  box-shadow:         0px 0px 16px 0px rgba(0,0,0,0.1);
}

.navbar {
  margin-top: 0.25em;
}

.ui.attached.menu,
.ui.attached.menu:not(.tabular) {
  border: none;
  margin-top: 0.5em;
}

.ui.menu {
  border-style: none;

  -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
  -moz-box-shadow:    0px 0px 0px 0px rgba(0,0,0,0);
  box-shadow:         0px 0px 0px 0px rgba(0,0,0,0);
}

.ui.menu .item:before {
  background: rgba(0,0,0,0);
}
