.auth-page-container {
  
  margin-top: 0.5em;

  .button-row {
    margin-bottom: 1em;
  }

  .fingerprint-row {
    margin-top: 2em;
    margin-bottom: 1em;
  }

  .message-row {
    margin-top: 0.5em;
    min-height: 4em;
  }

  .user-row {
    margin-top: 0.25em;;
    margin-bottom: 1.5em;
  }

  .forgot-password {
    color: #D0D4D7;
    font-family: 'Work Sans';
    font-size: 0.8em;
    font-weight: 300;
    margin: 2em 0px 0px 8px;
  }

  .info-group {
    position: absolute;
    bottom: 8px;
  }

  .login-container {
    position: absolute;
    border-radius: 8px;
    padding: 0em 0em 1.5em 0em;

    overflow: hidden;

    font-family: 'Work Sans';

    -webkit-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.1);
    -moz-box-shadow:    0px 0px 24px 0px rgba(0,0,0,0.1);
    box-shadow:         0px 0px 24px 0px rgba(0,0,0,0.1);
  }

  .login-container::before {
    content:"";
    position:absolute;
    top:0;
    bottom:0;
    left:-5%;
    width:60%;
    background:#011627;
    transform:skew(3deg);

    -webkit-box-shadow: 0px 0px 36px 0px rgba(0,0,0,0.2);
    -moz-box-shadow:    0px 0px 36px 0px rgba(0,0,0,0.2);
    box-shadow:         0px 0px 36px 0px rgba(0,0,0,0.2);
  }

  .login-button-wrapper {
    float: right;
    margin-top: 1em;
  }

  .pointer-message-error {
    min-height: 3em;
  }

  .right-sidebar {
    margin-bottom: 48px;
  }

  .sidebar-info {
    color: #2EC4B6;
    font-family: 'Work Sans';

    padding: 2em 1em 0.5em 1em;
  }

  .sidebar-info-signup {
    color: #2EC4B6;
    font-family: 'Work Sans';

    padding: 3.8em 1em 1.5em 1em;
  }

  .sidebar-line-a {
    font-size: 1.2em;
    font-weight: 300;
  }

  .sidebar-line-b {
    font-size: 3em;
    line-height: 85%;
  }

  .sidebar-line-c {
    font-size: 1em;
    font-weight: 300;
  }

  .signup-button-wrapper {
    float: left;
  }

  .signup-container {
    position: absolute;
    border-radius: 8px;
    padding: 0em 0em 1.5em 0em;

    overflow: hidden;

    font-family: 'Work Sans';

    -webkit-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.1);
    -moz-box-shadow:    0px 0px 24px 0px rgba(0,0,0,0.1);
    box-shadow:         0px 0px 24px 0px rgba(0,0,0,0.1);
  }

  .signup-container::before {
    content:"";
    position:absolute;
    top:0;
    bottom:0;
    left:-5%;
    width:60%;
    background:#011627;
    transform:skew(3deg);

    -webkit-box-shadow: 0px 0px 36px 0px rgba(0,0,0,0.2);
    -moz-box-shadow:    0px 0px 36px 0px rgba(0,0,0,0.2);
    box-shadow:         0px 0px 36px 0px rgba(0,0,0,0.2);
  }

  .ui.basic.ecell-red.pointing {
    border-color: #E71D36;
    border-radius: 100px;
    border-width: 1px;
    color: #E71D36;

    font-family: "Work Sans";
    font-weight: 300;
  }

  .ui.button.ecell-primary-button {
    border-radius: 100px;    
    border-color: #2EC4B6;
    border-style: solid;
    border-width: 1px;

    font-family: 'Work Sans';
    font-weight: 400;

    color: #2EC4B6;
    background-color: rgba(255,255,255,0);

    padding: 1em 2em 1em 2em;

    -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.05);
    -moz-box-shadow:    0px 0px 12px 0px rgba(0,0,0,0.05);
    box-shadow:         0px 0px 12px 0px rgba(0,0,0,0.05);

    -webkit-transition: all 0.5s ease;
    -moz-transition:    all 0.5s ease;
    -o-transition:      all 0.5s ease;
    transition:         all 0.5s ease;
  }

  .ui.button.ecell-primary-button:hover {
    border-radius: 100px;
    
    border-color: #2EC4B6;
    border-style: solid;
    border-width: 1px;

    background-color: #2EC4B6;
    color: rgba(255,255,255,1);


    -webkit-box-shadow: 0px 0px 1.5em 0px rgba(0,0,0,0.1);
    -moz-box-shadow:    0px 0px 1.5em 0px rgba(0,0,0,0.1);
    box-shadow:         0px 0px 1.5em 0px rgba(0,0,0,0.1);
  }

  .ui.button.ecell-primary-button:active {
    border-radius: 100px;
    
    border-color: #228F85;
    border-style: solid;
    border-width: 1px;

    background-color: #228F85;
    color: rgba(255,255,255,1);

    -webkit-box-shadow: 0px 0px 1.5em 0px rgba(0,0,0,0.05);
    -moz-box-shadow:    0px 0px 1.5em 0px rgba(0,0,0,0.05);
    box-shadow:         0px 0px 1.5em 0px rgba(0,0,0,0.05);
  }

  .ui.error.message {
    border-color: #E71D36;
    border-style: solid;
    border-radius: 100px;
    border-width: 1PX;    
    color: #E71D36;
    background-color: rgba(0,0,0,0);

    font-family: "Work Sans";
    font-weight: 300;

    box-shadow: 0 0 0 0 rgba(0,0,0,0) inset;
  }

  .ui.form {
    margin: 0px 24px 0px 8px;
  }

  .ui.form .field {
    margin: 0em;
  }

  .ui.form .fields {
    margin: 0em -0.5em 0em -0.5em;
  }

  .ui.form input[type=text],
  .ui.form input[type=password] {
    border-radius: 0px;
    border-style: none none solid none;
    border-width: 1px;

    color: #011627;

    font-family: "Work Sans";

    margin: 0px 0px 0px 8px;
    padding: 8px 0px 0px 0px;
  }

  .ui.form input[type=text]:focus,
  .ui.form input[type=password]:focus {
    border-radius: 0px;
    border-style: none none solid none;
    border-width: 1px;
    border-color: #2EC4B6;

    font-family: "Work Sans";

    margin: 0px 0px 0px 8px;
    padding: 8px 0px 0px 0px;
  }

  .ui.form .field>label {

    color: #011627;
    font-size: 1.2em;
    font-weight: 400;
    padding: 2px 0px 0px 8px;
    margin: 0px;
  }

  .ui.success.message {
    border-color: #2EC4B6;
    border-style: solid;
    border-radius: 100px;
    border-width: 1PX;    
    color:#2EC4B6;
    background-color: rgba(0,0,0,0);

    font-family: "Work Sans";
    font-weight: normal;

    box-shadow: 0 0 0 0 rgba(0,0,0,0) inset;
  }
}


