.auth-page-container {

  @mixin box-shadow($x, $y, $spread, $blur, $color) {
    -webkit-box-shadow: $x $y $spread $blur $color;
       -moz-box-shadow: $x $y $spread $blur $color;
            box-shadow: $x $y $spread $blur $color;
  }

  @mixin box-shadow-inset($x, $y, $spread, $blur, $color) {
    -webkit-box-shadow: $x $y $spread $blur $color inset;
       -moz-box-shadow: $x $y $spread $blur $color inset;
            box-shadow: $x $y $spread $blur $color inset;
  }

  @mixin transition($property, $time, $easing) {
    -webkit-transition: $property $time $easing;
       -moz-transition: $property $time $easing;
         -o-transition: $property $time $easing;
            transition: $property $time $easing;
  }

  $font-primary: 'Work Sans';

  $color-primary-red: #E71D36;
  $color-primary-light: #FDFFFC;
  $color-primary-green: #2EC4B6;
  $color-primary-yellow: #FF9F1C;
  $color-primary-darkblue: #011627;

  $color-primary-green-shade: #228F85;

  $color-highlight-bg-hover: #F4FFFD;
  $color-highlight-bg-focus: #F9FFFE;

  margin-top: 0.5em;
  font-size: 12px;

  .button-row {
    margin-bottom: 1em;
  }

  .fingerprint-row {
    margin-top: 2em;
    margin-bottom: 1em;
  }

  .message-row {
    margin-top: 0.5em;
    min-height: 4em;
  }

  .user-row {
    margin-top: 0.25em;;
    margin-bottom: 1.5em;
  }

  .forgot-password {
    color: #D0D4D7;

    font-family: $font-primary;
    font-size: 8px;
    font-weight: 300;

    margin: 2em 0em 0em 0.64em;
  }

  .info-group {
    position: absolute;
    bottom: 0.64em;
  }

  .login-container {
    border-radius: 0.64em;
    padding: 0em 0em 1.5em 0em;

    overflow: hidden;
    font-family: $font-primary;

    @include box-shadow(0em, 0em, 2em, 0em, rgba(0,0,0,0.1));
  }

  .login-container::before {
    content:"";
    position:absolute;
    top:0;
    bottom:0;
    left:-5%;
    width:60%;
    background:$color-primary-darkblue;
    transform:skew(3deg);

    @include box-shadow(0em,0em,3em,0em,rgba(0,0,0,0.2));
  }

  .login-button-wrapper {
    float: right;
    margin-top: 1em;
  }

  .main-container {
    height: 92vh;
  }

  .pointer-message-error {
    min-height: 4em;
  }

  .right-sidebar {
    margin-bottom: 48px;
  }

  .sidebar-info {
    color: $color-primary-green;
    font-family: $font-primary;

    padding: 2em 1em 0.5em 1em;
  }

  .sidebar-info-signup {
    color: $color-primary-green;
    font-family: $font-primary;

    padding: 3.8em 1em 1.5em 1em;
  }

  .sidebar-line-a {
    font-size: 16px;
    font-weight: 300;
  }

  .sidebar-line-b {
    font-size: 36px;
    line-height: 85%;
  }

  .sidebar-line-c {
    font-size: 12px;
    font-weight: 300;
  }

  .signup-button-wrapper {
    float: left;
  }

  .signup-container {
    position: absolute;
    border-radius: 0.64em;

    padding: 0em 0em 1.5em 0em;

    overflow: hidden;

    font-family: $font-primary;

    @include box-shadow(0em,0em,2em,0em,rgba(0,0,0,0.1));
  }

  .signup-container::before {
    content:"";
    position:absolute;
    top:0;
    bottom:0;
    left:-5%;
    width:60%;
    background:$color-primary-darkblue;
    transform:skew(3deg);

    @include box-shadow(0em,0em,3em,0em,rgba(0,0,0,0.2));
  }

  .login-button-container {
    padding: 0em 0.64em 0em 0em !important;
  }

  .forgot-password-container {
    padding: 0.5em 0em 0em 0.64em !important;
  }

  .ui.basic.ecell-red.pointing {
    border-color: $color-primary-red;
    border-radius: 100px;
    border-width: 1px;

    color: $color-primary-red;

    font-family: $font-primary;
    font-weight: 300;

    font-size: 12px;
    margin-left: 0.64em;
  }

  .ui.button.ecell-primary-button {
    border-radius: 100px;
    border-color: $color-primary-green;
    border-style: solid;
    border-width: 1px;

    font-family: $font-primary;
    font-weight: 400;

    background-color: rgba(255,255,255,0);
    color: $color-primary-green;

    padding: 1em 2em 1em 2em;

    @include box-shadow(0em,0em,1em,0em,rgba(0,0,0,0.05));
    @include transition(all, 0.5s, ease);
  }

  .ui.button.ecell-primary-button:hover {
    border-color: $color-primary-green;
    border-radius: 100px;
    border-style: solid;
    border-width: 1px;

    background-color: $color-primary-green;
    color: rgba(255,255,255,1);

    @include box-shadow(0em,0em,1.5em,0em,rgba(0,0,0,0.1));
  }

  .ui.button.ecell-primary-button:active {
    border-color: $color-primary-green-shade;
    border-radius: 100px;
    border-style: solid;
    border-width: 1px;

    background-color: $color-primary-green-shade;
    color: rgba(255,255,255,1);

    @include box-shadow(0em,0em,1.5em,0em,rgba(0,0,0,0.1));
  }

  .ui.error.message {
    border-color: $color-primary-red;
    border-radius: 100px;
    border-style: solid;
    border-width: 1px;

    color: $color-primary-red;
    background-color: rgba(0,0,0,0);

    font-family: $font-primary;
    font-weight: 300;

    font-size: 12px;
    margin-left: 1.25em;
    margin-right: 1.25em;

    @include box-shadow-inset(0em, 0em , 0em, 0em, rgba(0,0,0,0));
  }

  .ui.form {
    margin: 0em 2em 0em 0.64em;
  }

  .ui.form .field {
    margin: 0em;
  }

  .ui.form .fields {
    margin: 0em -0.5em 0em -0.5em;
  }

  .ui.form input[type=text],
  .ui.form input[type=password] {
    border-radius: 0em;
    border-style: none none solid none;
    border-width: 1px;

    color: $color-primary-darkblue;

    font-family: $font-primary;
    font-size: 16px;

    margin: 0em 0em 0em 0.5em;
    padding: 0.5em 0em 0em 0em;

    width: 98% !important;

    @include transition(background-color, 0.5s, ease);
  }

  .ui.form input[type=text]:hover,
  .ui.form input[type=password]:hover {
    background-color: $color-highlight-bg-hover;
  }

  .ui.form input[type=text]:focus,
  .ui.form input[type=password]:focus {
    border-color: $color-primary-green;
    border-radius: 0em;
    border-style: none none solid none;
    border-width: 1px;

    background-color: $color-highlight-bg-focus;

    font-family: $font-primary;

    margin: 0em 0em 0em 0.5em;
    padding: 0.5em 0em 0em 0em;
  }

  .ui.form .field>label {
    color: $color-primary-darkblue;

    font-size: 14px;
    font-weight: 300;

    padding: 2px 0em 0em 0.58em;
    margin: 0em;
  }

  .ui.success.message {
    border-color: $color-primary-green;
    border-radius: 100px;
    border-style: solid;
    border-width: 1px;

    background-color: rgba(0,0,0,0);
    color:$color-primary-green;

    font-family: $font-primary;
    font-weight: normal;

    @include box-shadow-inset(0em, 0em , 0em, 0em, rgba(0,0,0,0));
  }
}


